.BlogContainer{
    margin-top:100px;
    color: #344767;
}
.showcase.blog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.I1blog{
    padding: 16px;
    width: 280px;

    display: flex;
    flex-direction: column;

    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blogbuton{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bagFtImg.blog{
    height: 208.92px;
    width: 277.98px;
}

.type.blog{
line-height: 1.5em;
}
.cost.blog{
    line-height: 1.5em;
}



.continue{
display: flex;
margin: 0px;
}
.about{
    
    display: flex;
    justify-content: space-between;
}
@media all and (max-width:900px){

    .showcase.blog{
        margin-top:30px ;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.I1blog{
    margin-right: 0px;
}
  }