.expanderContainer{
    padding-left: 22%;
    padding-right: 22%;
    color:#344767;
    margin: 40px 0px 100px 0px;
    /* text-align: center; */

}

.expanderbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:center; */

    margin: 0px 0px 7px 0px;

}
.expandcollapse{
    background: none;
    border:none;
}

.faq{
    margin: 0px;
}
.expdetails{
    text-align: left;
    animation: rotateX ease-in-out 1s;
}

@keyframes rotateX {
    0% {
      opacity: 0;
      transform: rotateX(-45deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  
@media all and (max-width:900px){

  .expanderContainer{
    padding-left: 15%;
    padding-right: 15%;
    color:#344767;
    margin: 40px 0px 100px 0px;
    text-align: center;

}

}