.expanderContainer{
    padding-left: 15%;
    padding-right: 15%;
    color:#344767;
    margin: 40px 0px 100px 0px;
    text-align: center;

}

.expanderbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid rgb(223, 219, 219);
    margin: 0px 0px 10px 0px;

}
.expandcollapse{
    background: none;
    border:none;
}

.faq{
    margin: 0px;
}
.expdetails{
    text-align: left;
}