.featuredContainer{
    margin-top: 120px;

}
.gridWrapperF{
    text-align: center;
   
    color: #344767;
  }
  
  .collectionHeadingF{

    font-size: 30px;
    margin-bottom: 15px;
  }
.showcase{
    margin-top:30px ;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #344767;
    column-gap: 2%;
}
.love{

       margin-bottom: 0px;
       width: 100%;
    max-width: 309.64px;
    text-align: right;
}
.love.ft{

    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    justify-content: space-between;
}
.save{
    background-color: rgba(239,68,68,.1);
    color: #ef4444;
    font-weight: 400;
    font-size: 12px;
}
  .I1{

  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
.bagFtImg{

   
    height: 232.5px;
width: 309.98px;
}
.type{
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cartAdd{
    border: 1px solid #cb0c9f;
    border-radius: 7px;
    background-color: white;
    padding: 12px 30px;
    color: #cb0c9f;
    font-weight: bold;
    font-size: .75em;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 6%), 0 4px 6px -1px rgb(0 0 0 / 10%);
    transition:transform;
    transition-delay: 2ms;
    transition-duration: 100ms;


}
.cartAdd:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
 
}
.cost{
    margin: 4px 0px 0px 0px;
}


@media all and (max-width:900px){

    .showcase{
        margin-top:30px ;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.I1blog{
    margin-right: 0px;
}
  }