.featuredContainer{
    margin-top: 80px;
 
}
.gridWrapperF{
    text-align: center;
   
    color: #344767;
  }
  
  .collectionHeadingF{
    margin: 0px;
    font-size: 3vh;
  }
.showcase{
    margin-top:30px ;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  .I1{
      padding: 23px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
.bagFtImg{
    height: 232.5px;
    width: 309.98;
}
.type{
    font-weight: bold;
    margin-bottom: 0px;
}

.cartAdd{
    border: 2px solid #cb0c9f;
    border-radius: 4px;
    background-color: white;
    padding: 12px;
    color: #cb0c9f;
    font-weight: bold;

}
.cartAdd:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition-delay: 2ms;
    transition-duration: 100ms;
}
.cost{
    margin: 0px;
}


@media all and (max-width:900px){

    .showcase{
        margin-top:30px ;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.I1blog{
    margin-right: 0px;
}
  }