.Graphiccontainer{
    margin-top: 80px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
.infoshirt{
    margin-top: 30px;
}
mark{
    background-color: rgba(52,71,103,.4);
    color: #344767;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 12px;
}

.graphich2{
    color: #344767;
    margin:0px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 10px;
}

.price{
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
  
}
.splmark{
    background-color: rgba(239,68,68,.1);
    color: #ef4444;
    font-weight: normal;
}
.addOrBuy{
    margin-bottom: 15px;
}
.taxincl{
    margin: 0px 0px 30px 0px;
    color: #344767;
}
.online{
      color: #344767;
}
.cartAdd.new{
   border-radius: 6px;
   margin-bottom: 10px;
  
}

.gridButton.new{
    border-radius: 6px;
    margin-left: 10px;
    padding:12px 30px;
}
.tags{
    display: flex;
    flex-direction: row;
}
.m1{
    margin-left: 10px;
}

.Shirts{
  
    height: 423.73px;
    width: 564.98;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 40px;

}
.someIcons{
    margin-bottom: 40px;
    display: flex;
}
.sizebutton{
    border-radius: 3px;
    padding: 10px;
    background-color: white;
    border: 1px solid    #344767;
    color:  #344767;
    margin-right: 4px;

}
.stickyshirt{
    top:0px;
 

    position: sticky;
}
.large{
position: relative;
width: 33.11px;
text-align: center;
z-index: -1;
}
.large::before{
    position: absolute;
    z-index: -1;
    content: " ";
    left: 0;
    top: 50%;
    right: 0;
    
    border-top: 1px solid ;
    border-color: inherit;
    -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
    
}

.separation{
    background-image: linear-gradient(
        90deg,transparent,rgba(0,0,0,.4),transparent);
            background-color: transparent;
            height: 1px;
            opacity: .25;
}

@media all and (max-width:900px){

    .Graphiccontainer{
        margin-top: 50px;
       
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.stickyshirt{
    margin-right: 0px;


}
.Shirts{
    height: 308.25px;
    width: 80vw;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 0px;
    object-fit: cover;

}
/* .infoshirt{
    padding-left: 25px;
} */
.price{
    margin-right:6px;
}
  }