.trending{
    padding:0 30px;
    margin: 80px 0;
    color: #344767;
}

.wrappertrending{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    /* border:2px solid black; */
}
.trendingInfo{
    max-width: 495px;
}
.fashionImage{
    width:100%;
    max-width: 495px;
    border-radius: 6px;
}
.trendingPara{
    line-height: 1.5em;
}

.gridButton.light:hover{
    background-color:#c254a8;
}

@media all and (max-width:900px){
    .wrappertrending{
        display: flex;
        flex-direction: column;
       
        column-gap: 20px;
    }
    
}