.testimonialComponent{

}
.headingT{
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #344767;
    padding-bottom: 50px;

}
.pf.test{
    margin-top: 4px;
}
.r1{
    /* border: 2px solid black; */
    width: 309.98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-right: 60px; */
    color: #344767;
    font-size: 16px;
    line-height: 1.5em;
 
   
}
.Reviews{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
 
  
}
.profilePic{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
@media all and (max-width:900px){
.Reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r1{
    margin-right: 0px;
}
  }