.App {

  font-family: "Open Sans",sans-serif;
  overflow-x: hidden; 
}
.increment{
 background: none;
border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.mobgridcontainer{
  display: none;
}

.mainContainer{

  object-fit: cover;

  height:700px;
 padding-left: 22%;
  padding-right: 22%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(31, 30, 30, 0.5),
  rgba(58, 57, 57, 0.5)), url(https://cdn.shopify.com/s/files/1/0604/0797/2065/files/bg-2_2048x.jpg?v=1634648675);
 background-repeat: no-repeat;
 animation: fadeInner2 ease-in-out 1s;
 animation-fill-mode: forwards;
 
}
.mainContainer2{

  object-fit: cover;
 
  height:700px;
  padding-left: 22%;
  padding-right: 22%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(31, 30, 30, 0.5),
  rgba(58, 57, 57, 0.5)), url(https://cdn.shopify.com/s/files/1/0604/0797/2065/files/bg-1_4472x.jpg?v=1634648634);
 background-repeat: no-repeat;
 animation: fadeInner ease-in-out 1s;
 
 animation-fill-mode: forwards;
 
}

@keyframes fadeInner {
  0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}
@keyframes fadeInner2 {
  0% {
    opacity: 0;
}

100% {
    opacity: 1;
}

  
}
.subContainer{

  height: 100%;

}

.header{

  height: 102px;
  display: flex;
  flex-direction: row;
}


.logoContainer{

  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: row;

}
.navbar{

  height: 100%;
  width: 100%
}


.logoImage{
  margin-top: 10px;
}
.navbar{
  padding-left: 100px;
  padding-right: 100px;

}
.navItems{
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
}

/* details.js */
.details-container{

  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.details-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headingClass{
  margin:0px;
  font-size:3.425em;
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  animation: textfadein  ease-in 2s;
}

@keyframes texfadein {
  0% {
    opacity: 0;
}

100% {
    opacity: 1;
}

  
}

.pclass{
  font-size:18px;
  font-family: "Open Sans",sans-serif;
}

.buyButton{
  background-color: #cb0c9f;
  padding:15px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  margin-top: 14px;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  transition:transform;
  transition-delay: 2ms;
  transition-duration: 100ms;
}
.buyButton:hover{
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);

}
/*------outlook---*/
.midContainer{
  margin-top: 140px;

  height: 200px;
  position: relative;
}
.midContainer-sub{
  color: #344767;
  text-align: center;
  
  margin-left: 10px;
  margin-right: 10px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.outlook-heading{
  margin: 0px;
  font-size: 36px;
}

.outlooksimple{
  margin-top: 20px;
  font-size: 19px;
  line-height: 1.5em;
}

/*--GridView----*/

.gridView{

  margin-top: 60px;
 padding-right: 15px;
 padding-left: 15px;

}
.gridWrapper{
  text-align: center;
 
  color: #344767;
}

.collectionHeading{
  margin: 0px;
font-weight: 700;
  font-size:30px ;
}
.hrlarge{

  margin: 20px auto;
  background-image: linear-gradient(
    90deg,transparent,rgba(0,0,0,.4),transparent);
        background-color: transparent;
        height: 1px;
        opacity: .25;
        width: 990px;
       
        
}
.gridContainer{
box-sizing: border-box;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.topTwo{
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2vw;
  font-family: "Open Sans",sans-serif;
  width: 100%;

  /* min-width: 0;
  min-height: 0;

  overflow: hidden */
}
.gridItem-1{
  border-radius: 7px;
 
 
  width: 100%;
  max-width: 480px;
  min-height: 310px; 

  /* padding: 15%; */
  /* margin-right: 20px; */
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:transform;

}

.gridItem1-Container{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .gridItem-2{
  border-radius: 7px;
  border: 2px solid chocolate;
  width: 480px;
  height: 310px;
} */
.bottomThree{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2.2em;
  box-sizing: border-box;
  /* padding-left: 15%;
  padding-right: 15%; */
  width: 100%;


}
.gridItem-3{

  border-radius: 7px;
  width: 100%;

  max-width: 309px;

height: 280px;
 resize: both;

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bagImage{
 position:absolute;
  z-index: -5;
 filter: brightness(70%);
 transition:transform ;
 transition-delay: 2ms;
 transition-duration: 1000ms;

}

.gridItem-1:hover .bagImage{
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);

}

.gridItem-3:hover .bagImage{
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04)
}

.gridHeading{
  color: white;
  margin: 0px;
}
.gridP{
  color: white;
  font-weight: bold;
}
.gridButton{
  background-color: #cb0c9f;
  border-radius: 4px;
  border:none;
  padding:15px;
  color:white;
  font-weight: bold;
  transition:transform;
  transition-delay: 2ms;
  transition-duration: 100ms;

}
.gridButton.nonanimate{
  background-color: #cb0c9f;
  border-radius: 4px;
  border:none;
  padding:15px;
  color:white;
  font-weight: bold;
  transition:none;

}


.gridButton:hover{
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  
}
.gridButton.nonanimate:hover{
  transform: none;
}

/* 
-------------featured collection */
/* --------ytube */

.mobmainContainer{
  display: none;
}
.mosubContainer{
  display: none;
}

.sidebar{

  visibility: hidden;
}
.open{
  display: none;
}
.sideBarContainer{
  display: none;
}
.outlooksmobile{
  display: none;
}


.hrline{
  border: none;
  background-image: linear-gradient(
    90deg,transparent,rgba(0,0,0,.4),transparent);
        background-color: transparent;
        height: 1px;
        opacity: .25;
      margin: 1% 22% 0% 22%;
    }
/* 



------------------------------------------------media queries */

@media all and (max-width:900px){

  .mainContainer{
    
  object-fit: cover;

  height:700px;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(31, 30, 30, 0.5),
    rgba(58, 57, 57, 0.5)), url(https://cdn.shopify.com/s/files/1/0604/0797/2065/files/bg-2_2048x.jpg?v=1634648675);
 
 background-repeat: no-repeat;

    

  }

  .mainContainer2{

    object-fit: cover;
   
    height:700px;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(31, 30, 30, 0.5),
    rgba(58, 57, 57, 0.5)), url(https://cdn.shopify.com/s/files/1/0604/0797/2065/files/bg-1_4472x.jpg?v=1634648634);
   background-repeat: no-repeat;
   
  }


  .navbar{
    display: none;
  }
 

  .subContainer{

  }

  .topTwo{
    /* display: flex;
    flex-direction: column; */
    display: none;
  }
  .bottomThree{
    display: none;
  }
  .outlooksimple{
    display: none;
  }
  .outlooksmobile{
    display: inline;
    margin-top: 20px;
    font-size: 19px;
    line-height: 1.5em;
  }

  
  .midContainer-sub{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .logoContainer{

    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    visibility: visible;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;

    display: block;
    transition: 0.3s;
  }
  .sidebaropen .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .mainContainer{
  
      transition: margin-left .5s;
      padding: 16px;
  

  }

  .mainContainer2{

    transition: margin-left .5s;
    padding: 16px;
   
  }
  .sidebaropen{
    height: 100%;
    width: 250;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px;
    visibility: visible;
  }
  .sidebaropen a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #344767;
    display: block;
    transition: 0.3s;
  }
  .logoImage{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
  }
  .open{
    display: inline;
    color: white;
    background: none;
    border: none;
    font-size: 20px;
  }
  .sideBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logoContainer{
    width: 100%;
  }


  .mobgridcontainer{
    
  margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .top1{
    margin: 1.5em;
  }
  .bottom4{
    display: flex;
    column-gap: 1.2em;
  }
  .gridItem-1{
    width: 80vw;


    
  }
  .bagImage{
   object-fit: fill;
  }
  .gridItem-3{
    width: 38vw;
    height: 26vh;
    

  }

  
}

